@font-face {
  font-family: "Gotham";
  src: url("/resources/fonts/gotham-book.otf") format('opentype');
  font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("/resources/fonts/gotham-bold.otf") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Gotham";
    src: url("/resources/fonts/gotham-light.otf") format('opentype');
    font-weight: 300;
}

@font-face {
  font-family: "Open";
  src: url("/resources/fonts/open.woff") format('woff');
  font-weight: 400;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-semi-bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-light.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-bold.woff") format('woff');
    font-weight: 700;
}

* { padding: 0; margin: 0; outline:0; border:0; border-radius:0; background:none; text-decoration:none; font:inherit; letter-spacing: inherit; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; }

html, body, .bg1, .bg2, .bg3 {
  height: 100%;
}

body {
  font-family: "Open", "Helvetica Neue", sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg1 {
  background-color: #9ad4f0;
}

.bg3 {
  background-color: #e2e6b5;
}

.bg2 {
  background: url('images/kk.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.progress {
  background-color: rgba(255,255,255,.4);
  border-radius: 35px;
  width: 230px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-right: 10px;
}

.progress-done {
  background-color: #ff0;
  height: 100%;
  border-radius: 35px;
}

iframe {
  display: block;
  margin-bottom: 25px;
}

h1 {
  font-size: 49px;
  letter-spacing: -1px;
  font-weight: 600;
  font-family: "Gotham";
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
  border: 10px solid white;
  width: 80%;
  padding: 20px;
  display: inline-block;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
}

.donate {
  font-size: 16px;
  font-weight: 700;
  background-color: #ff0;
  color: black;
  padding: 12px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: -6px;
  margin-left: 10px;
}

a {
  color: white;
}

.blurb {
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  margin: 20px;
}

.pic {
  background-position: top;
  background-size: cover;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*img {
  width: 100px;
  height: 100px;

  background-size: cover;
  border-radius: 50%;
}*/
