@font-face {
    font-family: "Aliens";
    src: url("fonts/aliens.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/gotham-book.otf") format('opentype');
  font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-bold.otf") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-light.otf") format('opentype');
    font-weight: 300;
}


@font-face {
  font-family: "Open";
  src: url("fonts/open.woff") format('woff');
  font-weight: 400;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-light.woff") format('woff');
    font-weight: 300;
}

* {
  padding: 0; margin: 0; outline:0; border:0; border-radius:0; background:none; text-decoration:none; font:inherit; letter-spacing: inherit;
  -webkit-appearance: none; -moz-appearance: none;
  box-sizing: border-box;
}

body {
  font-family: "Open", "Helvetica Neue", sans-serif;
  background-color: rgb(15,15,15);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}

#header, #master, #center {
  max-width: 1200px;
  width: 92%;
}

#header {
  margin: 25px auto;
  text-align: right;
  border-bottom: 1px solid #888;
  padding-bottom: 3px;
}

#header a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

#header-logo {
  float: left;
  font-family: "Aliens";
  font-size: 46px;
}

#header-search {
  margin: 0;
  margin-top: -5px;
  border: 0;
  background: url("images/search.png") left center no-repeat;
  background-size: 35px 35px;
  width: 0;
  height: 0;
  padding: 24px;
  cursor: pointer;
  transition: width .35s, padding-left .35s;
  font-size: 13px;
  line-height: normal !important;
}

#header-search:focus {
  width: 180px;
  padding-left: 40px;
  cursor: auto;
}

#header-search::-webkit-input-placeholder {
  color: white;
}

#header-results {
  display: inline-block;
  position: absolute;
  margin-left: -13px;
  margin-top: 47px;
  background-color: #222;
  width: 240px;
  text-align: left;
  transition: height .4s, padding-top .4s;
  background-color: rgb(20,20,20);
  padding: 0 20px;
  overflow: hidden;
}

#header-account {
  margin-top: -5px;
  margin-left: -3px;
  padding: 24px;
  background: url("images/account.png") center center no-repeat;
  background-size: contain;
}

#header-settings {
  margin-top: -1px;
  margin-left: 8px;
  padding: 20.5px;
  background: url("images/settings.png") center center no-repeat;
  background-size: contain;
}

#master {
  margin: 0 auto;
}

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 40px;
  text-align: center;
}

.error {
  color: #f44 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

.toggle {
  font-size: 13px;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 230px;
}

.toggle-option {
  width: 100% !important;
  margin: 0 !important;
  line-height: 38px !important;
}

.toggle .selected {
  border-color: rgba(0,255,50, .9) !important;
  background-color: rgba(0,255,50, .2);
}

form {
  overflow: hidden;
  transition: height .4s;
  position: relative;
  z-index: 2;
}

input, .toggle-option {
  font-size: 12px;
  color: white;
  border: 1px solid #666;
  padding: 0 14px;
  line-height: 18px;
  height: 40px;
  margin-bottom: 9px;
  display: inline-block;
  width: 200px;
  transition: background-color .2s, border-color .2s;
}

input[type='submit'], .toggle-option {
  width: auto;
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.02);
  padding: 0 20px;
  cursor: pointer;
}

input:focus, input[type='submit'] {
  border-color: #ccc;
}

input[type='submit']:hover {
  background-color: rgba(255,255,255,.1);
}

h1 {
  margin-bottom: 1px;
  font-size: 39px;
  letter-spacing: -.6px;
  font-weight: 300;
  font-family: "Gotham";
}

h2 {
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.4px;
  text-transform: lowercase;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.7);
}
