form {
  overflow: hidden;
  transition: height .4s;
  width: 270px;
  margin: 0 auto;
  text-align: right;
}

.inline {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}

label {
  display: block;
  color: #999;
  text-align: left;
  margin: 9px auto 7px;
  padding-left: 2px;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  padding: 15px 12px;
  line-height: 18px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  resize: none;
}

input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  width: auto;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 10px;
  margin-top: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Gotham";
  color: rgba(40,130,255,1);
  border-color: rgba(40,130,255,.6);
}

input[type='submit']:active {
  color: #222;
  border-color: #999;
}

.toggle {
  margin-bottom: 7px;
  -webkit-user-select: none;
}

.toggle .option {
  cursor: pointer;
  line-height: 1;
  padding: 24px 20px;
  text-align: center;
  min-width: 135px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #eee;
  font-family: "Gotham";
  display: inline-block;
  color: rgba(40,130,255,.9);
  box-shadow: 0 1px 2px rgba(0,0,0,.17);
}

.toggle .option:active {
  background-color: #ddd !important;
}

.toggle .selected, .toggle .selected:active {
  background-color: rgba(40,130,255,.9) !important;
  color: white;
}

h1 {
  margin-bottom: 5px;
  font-size: 41px;
  /*letter-spacing: -.5px;*/
  line-height: 1;
  font-weight: 300;
  font-family: "Gotham";
  text-align: center;
}

h2 {
  margin-bottom: 28px;
  text-align: center;
  font-size: 20px;
  letter-spacing: -.1px;
  font-weight: 600;
  line-height: 1;
}

h3 {
  font-size: 14px;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  /*letter-spacing: -.2px;*/
  text-align: center;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  color: rgba(40,130,255,1);
  text-decoration: underline;
}

b {
  font-weight: 600;
}

.error {
  color: #fa4 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

/* ----------- PAGES -------------------- */

.box {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background-color: white;
  margin-bottom: 40px;
}

.padding {
  padding: 33px 0px 31px;
}

.picture {
  border-radius: 50%;
  display: block;
  vertical-align: middle;
  width: 192px;
  border: 2px solid rgba(0,0,0,.03);
  margin: 27px auto 20px !important;
  cursor: pointer;
}

.bottom {
  margin-bottom: 41px;
}

.bottom-small {
  margin-bottom: 12px;
}

#activity {
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 83px;
  bottom: 50px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.alert {
  background-color: transparent;
  color: white;
  padding: 25px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  transition: background-color .4s, box-shadow .6s;
  font-size: 13px;
  font-weight: 700;
  -webkit-user-select: none;
  border-radius: 4px;
  box-shadow: none;
}

.alert-container {
  display: block;
  text-align: right;
  transition: height .6s;
  height: 0;
}

#alerts {
  pointer-events: none;
  background: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
