form {
  overflow: hidden;
  transition: height .4s;
}

.inline {
  display: inline-block;
  vertical-align: top;
  /*margin-bottom: 40px;*/
  text-align: right;
}

label, input, textarea {
  padding: 15px 0px;
  line-height: 18px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-right: 20px;
  border-color: transparent !important;
  color: #666;
}

textarea {
  resize: none;
}

input, textarea {
  display: inline-block;
  width: 270px;
  background-color: white;
  font-family: "Open";
  padding-left: 12px;
  padding-right: 12px;
}

input[type='submit'] {
  cursor: pointer;
  width: auto;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Gotham";
  color: rgba(60,140,255,1);
  border-color: rgba(60,140,255,.5);
}

input[type='submit']:active {
  color: #222;
  border-color: #999;
}

.toggle {
  margin-bottom: 7px;
  -webkit-user-select: none;
}

.toggle .option {
  cursor: pointer;
  line-height: 1;
  padding: 26px 20px;
  min-width: 135px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #eee;
  font-family: "Gotham";
  display: inline-block;
  color: rgba(40,130,255,.9);
}

.toggle .selected {
  background-color: rgba(40,130,255,.9);
  color: white;
}

h1 {
  margin-bottom: 5px;
  font-size: 38px;
  letter-spacing: -1.5px;
  font-weight: 300;
  line-height: 1;
  font-family: "Gotham";
}

h2 {
  margin-bottom: 29px;
  /*font-family: "Gotham";*/
  font-size: 19px;
  letter-spacing: -.2px;
  font-weight: 600;
}

h3 {
  /*font-family: "Gotham";*/
  font-size: 14px;
}

p {
  line-height: 1.5;
  /*letter-spacing: -.2px;*/
  text-align: center;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  /*color: #44f;*/
  color: inherit;
  text-decoration: underline;
}

b {
  font-weight: 600;
}

.error {
  color: #fa4 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

/* ----------- PAGES -------------------- */

.box {
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  background-color: white;
  margin-bottom: 37px;
}

.padding {
  padding: 39px 40px 34px;
  text-align: center;
}

.picture {
  border-radius: 50%;
  display: block;
  vertical-align: middle;
  width: 190px;
  border: 2px solid rgba(0,0,0,.03);
  margin: 0 auto 40px !important;
  cursor: pointer;
}

.bottom {
  margin-bottom: 40px;
}

#activity {
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
