@font-face {
    font-family: "Aliens";
    src: url("fonts/aliens.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/gotham-book.otf") format('opentype');
  font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-bold.otf") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-light.otf") format('opentype');
    font-weight: 300;
}


@font-face {
  font-family: "Open";
  src: url("fonts/open.woff") format('woff');
  font-weight: 400;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-light.woff") format('woff');
    font-weight: 300;
}

* {
  padding: 0; margin: 0; outline:0; border:0; border-radius:0; background:none; text-decoration:none; font:inherit; letter-spacing: inherit;
  -webkit-appearance: none; -moz-appearance: none;
  box-sizing: border-box;
}

body {
  font-family: "Open", "Helvetica Neue", sans-serif;
  background-color: #222;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}

#header, #master, #center {
  max-width: 1100px;
}

#header {
  margin: 23px auto 0px;
  text-align: right;
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 0 2px 3px;
}

#header a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

#header-logo {
  float: left;
  font-family: "Aliens";
  font-size: 46px;
}

#header-search {
  margin: 0;
  margin-top: -5px;
  border: 0;
  background: url("images/search.png") left center no-repeat;
  background-size: 35px 35px;
  width: 0;
  height: 0;
  padding: 24px;
  cursor: pointer;
  transition: width .3s, padding-left .3s;
  font-size: 13px;
  line-height: normal !important;
}

#header-search:focus {
  width: 200px;
  padding-left: 40px;
  cursor: auto;
}

#header-search::-webkit-input-placeholder {
  color: white;
}

#header-results {
  display: inline-block;
  position: absolute;
  margin-top: 47px;
  background-color: #222;
  width: 210px;
  text-align: left;
  transition: height .4s, padding-top .4s;
  background-color: rgba(255,255,255,.05);
  padding: 0 19px;
  overflow: hidden;
  font-family: "Gotham";
  text-transform: uppercase;
  font-weight: 600;
}

#header-account {
  margin-top: -5px;
  margin-left: 3px;
  padding: 24px;
  background: url("images/account.png") center center no-repeat;
  background-size: contain;
}

#header-settings {
  margin-top: -1px;
  margin-left: 11px;
  padding: 20.5px;
  background: url("images/settings.png") center center no-repeat;
  background-size: contain;
}

#master {
  margin: 0 auto;
}

.error {
  color: #fa8 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

.toggle {
  font-size: 13px;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 230px;
}

.toggle .option {
  width: 100% !important;
  margin: 0 !important;
  padding: 19px !important;
  border: 1px solid rgba(255,255,255,.03);
}

.toggle .selected {
  background-color: rgba(0,255,80, .5) !important;
}

form {
  overflow: hidden;
  transition: height .4s;
  position: relative;
  z-index: 2;
}

input {
  font-size: 12px;
  color: white;
  border: 1px solid rgba(255,255,255,.04);
  padding: 0 14px;
  line-height: 18px;
  height: 40px;
  margin-bottom: 9px;
  display: inline-block;
  width: 200px;
}

input[type='submit'], .toggle .option {
  width: auto;
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.02);
  padding: 0 30px;
  cursor: pointer;
}

input[type='submit']:hover, .toggle .option:hover {
  background-color: rgba(255,255,255,.04);
}

h1 {
  margin-bottom: 3px;
  font-size: 39px;
  letter-spacing: -.6px;
  font-weight: 300;
  font-family: "Gotham";
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.7);
}

/*PAGES*/

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

#settings-sidebar {
  width: 175px;
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

#settings-sidebar .option {
  border-bottom: 1px solid rgba(255,255,255,.05);
  padding: 19px 15px;
  display: block;
  text-decoration: none;
  border-left: 0 solid;
  color: rgba(255,255,255,.5);
  font-family: "Gotham";
  transition: border-left .3s, color .3s, padding-left .3s;
}

#settings-sidebar .pic {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.2) !important;
  margin: 11px auto;
}

#settings-sidebar .selected {
  border-left: 7px solid rgba(0,255,60, .8);
  color: white;
  font-weight: 600;
  padding-left: 12px;
}

#settings-body {
  display: inline-block;
  margin-top: 56px;
}
