@font-face {
    font-family: "Aliens";
    src: url("fonts/aliens.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/gotham-book.otf") format('opentype');
  font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-bold.otf") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-light.otf") format('opentype');
    font-weight: 300;
}

@font-face {
  font-family: "Open";
  src: url("fonts/open.woff") format('woff');
  font-weight: 400;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-semi-bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-light.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Open";
    src: url("fonts/open-bold.woff") format('woff');
    font-weight: 700;
}

* {
  padding: 0; margin: 0; outline:0; border:0; border-radius:0; background:none; text-decoration:none; font:inherit; letter-spacing: inherit;
  -webkit-appearance: none; -moz-appearance: none;
  box-sizing: border-box;
}

body {
  font-family: "Open", "Helvetica Neue", sans-serif;
  background-color: #1f1f1f;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

#header, #master, #center {
  max-width: 950px;
}

#header {
  margin: 20px auto 0px;
  text-align: right;
  border-bottom: 2px solid rgba(255,255,255,.04);
  padding: 0 0px 3px 0px;
}

#header a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

#header-logo {
  float: left;
  font-family: "Aliens";
  font-size: 49px;
}

#header-search {
  margin: 0;
  margin-top: -5px;
  border: 0;
  background: url("images/search.png") left center no-repeat;
  background-size: 39px 39px;
  width: 0;
  height: 0;
  padding: 24px;
  cursor: pointer;
  transition: width .3s, padding-left .3s;
  font-size: 13px;
  line-height: normal !important;
}

#header-search:focus {
  width: 250px;
  padding-left: 48px;
  cursor: auto;
}

#header-search::-webkit-input-placeholder {
  color: white;
}

#header-results {
  display: inline-block;
  position: absolute;
  margin-top: 47px;
  width: 255px;
  text-align: left;
  transition: height .3s, padding-top .3s;
  background-color: rgba(255,255,255,.02);
  padding: 0 20px;
  overflow: hidden;
  font-family: "Gotham";
  text-transform: uppercase;
  height: 0;
  font-size: 12px;
}

#header-account {
  margin-top: -5px;
  margin-left: 6px;
  padding: 24.3px;
  background: url("images/account.png") center top no-repeat;
  background-size: contain;
}

#header-settings {
  margin-top: -1px;
  margin-left: 12px;
  padding: 21px;
  background: url("images/settings.png") center top no-repeat;
  background-size: contain;
}

#master {
  margin: 0 auto;
}

.toggle {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.toggle .option {
  margin: 0 !important;
  padding: 15px 30px !important;
  line-height: 1.6;
  min-width: 122px;
  background-color: rgba(255,255,255, .03) !important;
  border-radius: 3px;
  transition: background-color .23s;
}

.toggle .selected {
  background-color: rgba(255,255,255, .087) !important;
}

form {
  overflow: hidden;
  transition: height .5s;
}

.inline {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 22px;
  margin-bottom: 25px;
}

input {
  letter-spacing: .3px;
  color: white;
  border: 1px solid rgba(255,255,255,.09);
  margin: 0px 1px 10px;
  padding: 0 12px;
  line-height: 18px;
  height: 48px;
  display: inline-block;
  width: 213px;
  /*border-radius: 8px 0;*/
  font-size: 13px;
}

input[type='submit'], .toggle .option {
  width: auto;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgba(70,255, 0, .4);
  border: none;
  padding: 0 28px;
  cursor: pointer;
  text-align: center;
}

input[type='submit']:hover, .toggle .option:hover {
  background-color: rgba(70,255,0, .5);
}

label {
  display: block;
  padding: 11px 0;
  /*letter-spacing: .3px;*/
  line-height: 1.9;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
  /*font-size: 13px;*/
}

h1 {
  margin-bottom: 3px;
  font-size: 39px;
  letter-spacing: -.6px;
  font-weight: 300;
  font-family: "Gotham";
}

h2 {
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

b {
  font-weight: 600;
  /*text-transform: uppercase;*/
  /*letter-spacing: 1.3px;*/
  /*color: #888;*/
}

.error {
  color: #fa4 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.7);
}

/*PAGES*/

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

#sidebar {
  display: table;
  width: 100%;
}

#sidebar-options {
  width: 170px;
  display: table-cell;
  vertical-align: top;
}

#sidebar-options .option {
  padding: 21px 15px;
  display: block;
  text-decoration: none;
  border-left: 0px solid transparent;
  color: rgba(255,255,255,.5);
  font-family: "Gotham";
  font-size: 14px;
  transition: color .5s;
}

#sidebar-options .selected {
  border-left: 7px solid rgba(0,255,80, .7);
  color: white;
  font-weight: 600;
  padding-left: 10px;
  transition: border-left .3s, color .2s, padding-left .3s;
}

#sidebar-options .pic {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: 5px solid #333 !important;
  margin: 9px auto;
  /*background: url("images/profile.png") center center no-repeat;*/
  background-size: contain;
}

#sidebar-body {
  display: table-cell;
  padding: 45px 30px 0 0px;
  text-align: center;
}

/*#profile-header {
  text-align: center;
  margin-top: 31px;
}
#profile-header-text {
  display: inline-block;
  vertical-align: top;
}
#profile-header-follow {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255,255,255,.02);
  border: 1px solid rgba(255,255,255,.03);
  padding: 12px 23px;
  font-size: 11px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-left: 22px;
  margin-top: 1px;
  cursor: pointer;
}*/
