form {
  overflow: hidden;
  transition: height .4s;
}

.inline {
  display: inline-block;
  vertical-align: top;
  /*margin-bottom: 40px;*/
  text-align: right;
}

label, input {
  padding: 15px 0px;
  line-height: 18px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
}

label {
  display: block;
  font-weight: 400;
  margin-right: 15px;
  border-color: transparent !important;
  color: #666;
}

input {
  display: inline-block;
  width: 270px;
  background-color: white;
  font-family: "Open";
  padding-left: 12px;
}

input[type='submit'] {
  cursor: pointer;
  width: auto;
  padding-left: 17px;
  padding-right: 17px;
  color: #888;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input[type='submit']:active {
  color: #222;
  border-color: #999;
}

.toggle {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.toggle .option {
  cursor: pointer;
  line-height: 1;
  padding: 26px 20px;
  min-width: 140px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: #ccc;
  /*border-radius: 3px;*/
}

.toggle .selected {
  background-color: #333;
}

h1 {
  margin-bottom: 4px;
  font-size: 38px;
  letter-spacing: -1.5px;
  font-weight: 300;
  line-height: 1;
}

h2 {
  margin-bottom: 20px;
  /*text-transform: uppercase;*/
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 18px;
}

p {
  line-height: 1.5;
  letter-spacing: -.2px;
  text-align: center;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  /*color: #44f;*/
  color: inherit;
  text-decoration: underline;
}

b {
  font-weight: 600;
}

.error {
  color: #fa4 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

/* ----------- PAGES -------------------- */

.box {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background-color: white;
}

.padding {
  padding: 40px;
  text-align: center;
}

.picture {
  border-radius: 50%;
  display: block;
  width: 170px;
  border: 1px solid #eee;
  margin: 0 auto 30px;
}

.bottom {
  margin-bottom: 40px;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#flat {
  text-align: center;
  margin-top: 42px;
}

#activity {
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
