form {
  overflow: hidden;
  transition: height .5s;
  width: 270px;
  margin: 0 auto;
  text-align: right;
}

.inline {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}

label {
  display: block;
  color: #999;
  text-align: left;
  margin: 9px auto 7px;
  padding-left: 2px;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  padding: 15px 12px;
  line-height: 18px;
  /*background-color: white;*/
  border: 1px solid #333;
  resize: none;
  color: white;
}

input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  width: auto;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 10px;
  margin-top: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Gotham";
  /*color: rgba(40,130,255,1);*/
  border-color: rgba(40,130,255,.6);
}

input[type='submit']:active {
  color: #222;
  border-color: #999;
}

.toggle {
  margin-bottom: 7px;
  -webkit-user-select: none;
}

.toggle .option {
  cursor: pointer;
  line-height: 1;
  padding: 24px 20px;
  text-align: center;
  min-width: 135px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #222;
  font-family: "Gotham";
  display: inline-block;
  /*color: rgba(40,130,255,.9);*/
}

.toggle .option:active {
  background-color: #333 !important;
}

.toggle .selected, .toggle .selected:active {
  background-color: rgba(40,130,255,.9) !important;
  color: white;
}

h1 {
  margin-bottom: 5px;
  font-size: 41px;
  /*letter-spacing: -.5px;*/
  line-height: 1;
  font-weight: 300;
  font-family: "Gotham";
  text-align: center;
}

h2 {
  margin-bottom: 28px;
  text-align: center;
  font-size: 20px;
  letter-spacing: -.1px;
  font-weight: 600;
  line-height: 1;
}

h3 {
  font-size: 14px;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  /*letter-spacing: -.2px;*/
  text-align: center;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  color: rgba(40,130,255,1);
  text-decoration: underline;
}

b {
  font-weight: 600;
}

.error {
  color: #fa4 !important;
}

.message {
  display: inline;
  color: rgba(0,0,0,0);
  transition: color .5s;
  position: absolute;
  z-index: 1;
  margin: 10px 8px;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.5);
}


@font-face {
    font-family: "Aliens";
    src: url("/resources/fonts/aliens.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("/resources/fonts/gotham-book.otf") format('opentype');
  font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("/resources/fonts/gotham-bold.otf") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Gotham";
    src: url("/resources/fonts/gotham-light.otf") format('opentype');
    font-weight: 300;
}

@font-face {
  font-family: "Open";
  src: url("/resources/fonts/open.woff") format('woff');
  font-weight: 400;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-semi-bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-light.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Open";
    src: url("/resources/fonts/open-bold.woff") format('woff');
    font-weight: 700;
}

* { padding: 0; margin: 0; outline:0; border:0; border-radius:0; background:none; text-decoration:none; font:inherit; letter-spacing: inherit; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; }

#header, #master, #center { max-width: 950px; }
#master { margin: 0 auto; text-align: center;}

body {
  font-family: "Open", "Helvetica Neue", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  background-color: rgb(16,16,16);
  background-size: cover;
}

#header {
  margin: 0 auto;
  padding: 14px 0 8px;
  text-align: right;
}

#header a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  color: white;
}

#header-logo {
  float: left;
  font-family: "Aliens";
  line-height: 0;
  font-size: 28px;
  letter-spacing: 7px;
  margin-top: 8px;
}

#header-globe {
  vertical-align: middle;
  height: 48px;
  margin-right: 9px;
  margin-top: -7px;
}

#header-search {
  box-shadow: none;
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0;
  border: 0;
  background: url("/resources/images/search.png") left center no-repeat;
  background-size: 45px;
  padding: 28px;
  cursor: pointer;
  transition: width .3s, padding-left .3s;
}

#header-account {
  margin-left: 6px;
  padding: 30px;
  background: url("/resources/images/account.png") center center no-repeat;
  background-size: contain;
}

#header-create {
  margin: 27px 2px 0;
  font-size: 81px;
  line-height: 0;
  font-weight: 300;
}

#header-settings {
  margin-top: 2px;
  margin-left: 19px;
  padding: 22px;
  background: url("/resources/images/settings-black.png") center center no-repeat;
  background-size: contain;
}

#header-search:focus {
  width: 240px;
  padding-left: 55px;
  cursor: auto;
}

#header-results {
  display: inline-block;
  position: absolute;
  z-index: 10;
  margin-top: 69px;
  width: 255px;
  text-align: left;
  transition: height .3s, padding-top .3s;
  background-color: #f4f4f4;
  padding: 0 18px;
  overflow: hidden;
  text-transform: uppercase;
  height: 0;
}





#follow {
  display: inline-block;
  position: relative;
  top: -10px;
  padding: 13px 17px;
  margin-left: 23px;
  margin-bottom: -3px;
  font-size: 13px;
}

.user-picture {
  /*border: none !important;*/
  display: inline-block !important;
  margin: 0 0 0 0px !important;
}

.user-text {
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 35px;
  text-align: justify;
  max-width: 37%;
  margin-top: 4px;
}


#sidebar, #sidebar #body {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cell {
  display: table-cell;
  vertical-align: top;
}

#sidebar #options {
  width: 180px;
  text-align: left;
}

#sidebar #options .option {
  -webkit-user-select: none;
  padding: 23px 19px;
  display: block;
  font-weight: 300;
  /*font-family: "Gotham";*/
  text-decoration: none;
  border-left: 4px solid transparent;
  /*font-size: 14px;*/
  color: white;
}

#sidebar #options .selected {
  background-color: #3a3a3a;
  border-color: #ccc;
}

#sidebar #options .option:active {
  background-color: #333;
}

.spacer {
  width: 30px;
}

/* ----------- PAGES -------------------- */

.box {
  /*box-shadow: 0 1px 2px rgba(255,255,255,.2);*/
  background-color: rgb(27,27,27);
  /*border: 1px solid #333;*/
  margin-bottom: 40px;
}

.padding {
  padding: 33px 0px 31px;
}

.picture {
  border-radius: 50%;
  display: block;
  vertical-align: middle;
  width: 192px;
  border: 2px solid rgba(255,255,255,.03);
  background-color: #888;
  margin: 27px auto 20px !important;
  cursor: pointer;
}

.bottom {
  margin-bottom: 41px;
}

.bottom-small {
  margin-bottom: 12px;
}

#activity {
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 70%;
  height: 100px;
  margin: 0 auto;
}

#center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 83px;
  bottom: 30px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.alert {
  background-color: transparent;
  color: white;
  padding: 25px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  transition: background-color .4s, box-shadow .6s;
  font-size: 13px;
  font-weight: 700;
  -webkit-user-select: none;
  border-radius: 4px;
  box-shadow: none;
}

.alert-container {
  display: block;
  text-align: right;
  transition: height .6s;
  height: 0;
}

#alerts {
  pointer-events: none;
  background: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
